@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


/* header section */
.header {
    background-color: #1F2937;
    color: white;
    flex: 3;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 40% 30%;
    border-bottom-right-radius: 40% 30%;
}

.top {
    display: flex;
    flex: 0;
    align-items: baseline;
}
.bottom {
    display: flex;
    flex: 3;
    padding: 40px 0 40px 0;
}

.left {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: baseline;
    padding: 30px 30px 30px 200px;
    justify-content: flex-start;

}

.right {
    display: flex;
    flex: 1.2;
}


.logo {
    color: #fff;
    display: flex;
    justify-content: flex-start;
    flex: 1;
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    padding-left: 200px;
}

.nav {
    color: #e5e7eb;
    flex: 1.5;
    justify-content: flex-end;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    padding-right: 200px;
    
}

ul {
    margin: 0;
    padding: 0;
    list-style-type:none;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    
}

li { 
   float: left;
   
}

li a {
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
    display: block;
    padding: 10px;
    text-align: center;
}

a:hover {
    color: #3882f6;
}


.main-text {
    color: #fff;
    flex: 0;
    font-family: "Quicksand", sans-serif;
    font-size: 48px;
    transform: translateY(50px);
}

.below-text {
    color: #e5e7eb;
    flex: 0;
    align-self: center;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    padding: 10px 0px 20px 0px;
    transform: translateY(50px);
}

.button {
    display: flex;
    flex: 0.3;
    
}

.txt-btn {
    border-radius: 3px;
    background-color: #3882f6;
    border: none;
    color: #fff;
    padding: 0 20px 0 20px;
    font-family: "Quicksand", sans-serif;
    font-size: 12px;
    height: 30px;
    box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
    transform: translateY(50px);

}

.github {
    text-decoration: none;
    color: #fff;
    z-index: 1;
}

.txt-btn:hover {
    color: #3882f6;
    background-color: #fff;
}


.image {
    color: #fff;
    flex: 1;
    padding: 50px 200px 0px 10px;
    display: flex;
    justify-content: flex-end;
    align-self: center; 
    transform: translateY(-50px);
    
}

.header-img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.6);
    box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.4);
   
    
}

/* info section */

.info {
    background-color: #fff;
    color: #1F2937;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 40px 40px 40px;
}

.info-header {
    font-size: 36px;
    color:#1F2937;
    font-family: "Quicksand", sans-serif;
    display: flex;
    justify-content: center;
}

.boxes {
    display: flex;
    justify-content: center;
    padding: 20px 40px 20px 40px;
    align-items: center;
}

.box-1,.box-2,.box-3,.box-4 {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
    padding: 0 20px 0 20px;
}

.info-img {
    flex: 2;
}

.info-img {
    width: 300px;
    height: auto;
    border-radius: 3px;
    margin: 10px 5px 20px 5px;
    box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
}


.img-text {
    display: flex;
    flex: 0;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    color: #1F2937;
    width: 200px;
    justify-content: center;

}

.imgLink {
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    background-color: #3882f6;
    /* border: 1.5px solid rgba(0,0,0,0.3); */
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
    box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
}

.imgLink:hover {
    padding: 3px 8px 3px 8px;
    border-radius: 8px;
    color: #3882f6;
    background-color: #fff;
    border: 2px solid #3882f6;
}
/* quote section */

.quote {
    background-color: #e5e7eb;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    flex: 3;
    padding: 50px 200px 40px 200px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.quote-block {
    font-size: 24px;
    font-style: italic;
    font-family: "Quicksand", sans-serif;
    margin: 0 30px 0 30px;
}

.quote-speaker {
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    display: flex;
    align-self: flex-end;
    margin-right: 30px;
}
/* sign-up section */

.signup {
    background-color: #fff;
    color: #1F2937;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex: 3;
    display: flex;
    padding: 40px 40px 40px 40px;
    justify-content: center;
    align-items: center;
}

.signup-box {
    display: flex;
    background-color: #3882f6;
    color: #fff;
    border-radius: 5px;

}

.signup-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: "Quicksand", sans-serif;
    padding: 30px 20px 30px 100px;

}


.signup-text-top {
    font-size: 18px;
    font-weight: bolder;

}


.signup-text-bottom {
    font-size: 14px;

}

.signup-button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.signup-btn {
    border-radius: 3px;
    background-color: #3882f6;
    border: 1px solid #fff;
    color: #fff;
    padding: 0 20px 0 20px;
    font-family: "Quicksand", sans-serif;
    font-size: 12px;
    height: 30px;

}

.signup-btn:hover {
    background-color: #fff;
    color: #3882f6;
}


/* footer section */

.footer {
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 12px;
    font-family: "Quicksand", sans-serif;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-txt {
    padding: 20px 20px 20px 20px;
}